

.bloque-uno,
.bloque-dos {
width: 50%;
height: 450px;
overflow-y: auto;

}

.encab_ticket {
  display: flex;
  justify-content: space-between;
}

.encab_ticket div:first-child {
  color: red;
}

.eliminarTicket {
  text-align: right;
}

.eliminarTicket button {
  /*  padding: 1px 5px;
  color: #fff; */
  border: none;
  border-radius: 50%;
}

.ticket,
.ticketDetalle {
  width: 300px;
  
  margin: 15px auto;
  border: 1px dashed #ccc;
  padding: 15px;
  position: relative;
 
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}
.logo img {
  max-width: 100px;
}
.details {
  margin-bottom: 20px;
}

#direccion {
  font-size: xx-small;
}
.barcode {
  text-align: center;
}
.barcode svg {
  max-width: 300px;
}

.horas > p {
  font-size: 12px;
}

.mensajeTicket {
  font-size: 10px;
  text-align: justify;
}

#estadoPago {
  position: absolute;
  top: 40%;
  left: 16%;
  display: inline-block;
  transform: rotate(-45deg);
  font-size: 3rem;
  opacity: 0.3;
}
