.contenedor-tickets {
  width: 100%;
  height: 400px;

  display: flex;
}

.bloque-uno,
.bloque-dos {
  flex-grow: 1;
}

.encab_ticket {
  display: flex;
  justify-content: space-between;
}

.encab_ticket div:first-child {
  color: red;
}

.eliminarTicket {
  text-align: right;
}

.eliminarTicket button {
  /*  padding: 1px 5px;
  color: #fff; */
  border: none;
  border-radius: 50%;
}

.ticket,
.ticketDetalle {
  width: 300px;
  margin: 20px auto;
  border: 1px dashed #ccc;
  padding: 20px;
}
.logo {
  text-align: center;
  margin-bottom: 10px;
}
.logo img {
  max-width: 130px;
}
.details {
  margin-bottom: 20px;
}

#direccion {
  font-size: xx-small;
}
.barcode {
  text-align: center;
}
.barcode svg {
  max-width: 300px;
}

.horas > p {
  font-size: 12px;
}

.mensajeTicket {
  font-size: 10px;
  text-align: justify;
}


